/* main.css */

body{overflow: hidden;background-color: #11191e;}

main{}
main .box{width: 100%; height: 100vh; position: relative;}
main .box > div.page{
/* main .box > div{ */
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transform-origin: 50% 50%;
    z-index: 0;
    opacity: 0.5;
    transform: scale(0.9) matrix3d(0.91,0,0.42,0, 0.00,1,0.00,0,-0.42,0 ,0.91,0,0,0,-100,1); 
    transition: transform 0.5s, opacity 0.5s;
}
/* main .box:nth-child(1) > div{background-color: red;} */
/* main .box:nth-child(2) > div{background-color: orange;} */
/* main .box:nth-child(3) > div{background-color: yellow;} */
/* main .box:nth-child(4) > div{background-color: green;} */
/* main .box:nth-child(5) > div{background-color: blue;} */

main .box.active > div.page{  
/* main .box.active > div{ */
    /* min-height: ; */
    z-index: 2;
    opacity: 1;
    transform: scale(1) matrix3d(1,0,0.00,0,0.00, 1,0.00,0,0,0, 1,0,0,0,0,1);
}

/* main .box p{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color:#fff;
    text-shadow: 0 0 4px #222;
} */




@media(max-width:991px){
    body{overflow: auto;}
    main .box{height: auto;}

    main .box > div.page{
        position: static;
        width: 100%; 
        height: auto;
        min-height: 400px;
        transform: none ! important;

        opacity: 1;
        transition: none;
    }
}
/* @media(max-width:767px){
    body{overflow: auto;}
    main .box{height: auto;}

    main .box > div.page{
        position: static;
        width: 100%; 
        height: auto;
        min-height: 400px;
        transform: none ! important;

        opacity: 1;
        transition: none;
    }
} */